.dashboard-container {
    padding: 15px;

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .main-content {
        display: flex;

        .left-content {
            width: 50%;
            border: 1px solid;
            display: flex;
            flex-wrap: wrap;

            .child {
                display: flex;
                width: 50%;
                justify-content: center;
                border: 1px solid;
                height: 150px;
                padding: 10px;
            }
        }

        .right-content {
            width: 50%;
            border: 1px solid;
            display: flex;
        }
    }
}