.register-content {
    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        padding: 10px 70px 0 70px;
        font-size: 14px;

        button {
            padding: 3px 10px;
            border: 1px solid #000;
            background-color: white;
            font-size: 12px;
            margin-left: 5px;
            border-radius: 5px;

            &:hover {
                background-color: rgb(220, 218, 218);
            }
        }

    }

    .title {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
    }

    .caption {
        font-size: 20px;
        text-align: center;
        margin: 30px 0;
    }

    .content-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .email-form {
            input {
                margin-top: 5px;
                width: 100%;
                height: 40px;
                border: 1px solid #989595;
                border-radius: 5px;
                padding: 15px;
                font-size: 14px;
                font-weight: 420;
                opacity: 0.8;
            }
        }

        .password-form {
            position: relative;

            input {
                margin-top: 5px;
                width: 100%;
                height: 40px;
                border: 1px solid #989595;
                border-radius: 5px;
                padding: 15px;
                font-size: 14px;
                font-weight: 420;
                opacity: 0.8;

            }

            .icon-eye {
                position: absolute;
                right: 10px;
                cursor: pointer;
                bottom: 10px;
            }
        }

        .username {
            input {
                margin-top: 5px;
                width: 100%;
                height: 40px;
                border: 1px solid #989595;
                border-radius: 5px;
                padding: 15px;
                font-size: 14px;
                font-weight: 420;
                opacity: 0.8;
            }

        }

        .item-content {

            .btn-register-submit {
                margin-top: 20px;
                width: 100%;
                color: white;
                background-color: black;
                height: 40px;
                border-radius: 5px;
            }
        }

        .go-homepage {

            font-size: 14px;
            text-align: center;
            font-weight: 500;
            cursor: pointer;

        }
    }
}