.displayInfor-container {
    .underline {
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }

    .brown {
        color: rgb(98, 55, 55);
    }

    .green {
        color: green;
    }

    img {
        width: 300px;
        height: 300px;
    }
}

.showhidelistusers {
    .item-showhidelistusers {
        text-decoration: underline;
        color: rgb(59, 144, 236);
        cursor: pointer;
    }
}