.displayInfor-container {
    .underline {
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }

    .brown {
        color: rgb(98, 55, 55);
    }

    .green {
        color: green;
    }
}