.list-quiz-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    .card-quiz {
        text-align: center;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }


}