body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1500px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1470px !important
  }
}

.app-container {
  .header-container {
    margin: 20px 40px;
    align-items: center;

    .navbar-brand {
      font-size: 25px;

      .brand {
        position: relative;
        bottom: 3px;
      }
    }


    .btn-login {
      padding: 7px 15px;
      border: solid 1px #535353;
      border-radius: 5px;
      margin-right: 15px;
    }

    .btn-signup {
      padding: 7px 15px;
      border: 1px solid;
      border-radius: 5px;
      background: #000000;
      color: white;

      &:hover {
        background: #323131;
      }

    }

    .navbar {
      padding: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      margin: 22px;

      .nav-link {
        font-size: 17px;

        &.active {
          color: red;
        }
      }

    }
  }

  .homepage-container {
    .homepage-content {
      position: relative;
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 100px;
      width: 50%;

    }


    .title-content {
      font-weight: 600;
      font-size: 45px;

    }

    .description-content {
      font-size: 25px;

    }

    .btn-getstarted {
      button {
        border-radius: 7px;
        height: 50px;
        background: #000000;
        color: white;
        font-weight: 600;
        margin-top: 10px;
        padding: 15px;
        border: none;

        &:hover {
          background: #414040;
        }
      }
    }

    .sidebar-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .sidebar-btn {
        transition: width 0.3s;
        width: 150px;
        padding: 1px 15px;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.05);
        color: #adadad;
        text-decoration: none;
        margin: 0 auto;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
          margin-left: 5px;
          font-size: 13px;
        }

        &:hover {}
      }
    }
  }
}


video {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}